
@import url('https://css.gg/css?=|attachment|bolt|home|shape-hexagon');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

img {
  border-radius: 50%;
}

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>